<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let exp of expenses" id="{{ exp.uid }}">
                            <td>{{ exp.description}}</td>
                            <td>{{ exp.amount }}</td>
                            <ng-container *ngIf="expenseType(exp.type); else elseTemplate">
                                <tr>
                                    <p><span class="badge badge-pill badge-success">Income</span></p>
                                </tr>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <tr>
                                    <p><span class="badge badge-pill badge-danger">Outcome</span></p>
                                </tr>
                            </ng-template>
                            
                            <td></td>
                            <td>
                                <button type="button" id="{{ exp.uid }}" class="btn btn-danger btn-lg btn-block" (click)="deleteExpense(exp.uid)">
                                    <i class="fa fa-trash"></i>Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>